include setup.py pyopa.pxd pyopa.pyx requirements.txt README.rst
include c_source/Python_extension.c c_source/DynProgr_sse_short.c c_source/DynProgr_sse_byte.c
include c_source/DynProgr_scalar.c c_source/EstimatePam.c c_source/Page_size.c c_source/DynProgr_sse_double.c
include c_source/Python_extension.h c_source/DynProgr_sse_short.h c_source/DynProgr_sse_byte.h
include c_source/DynProgr_scalar.h c_source/matrix.h c_source/debug.h c_source/swps3.h c_source/EstimatePam.h
include c_source/Page_size.h c_source/DynProgr_sse_double.h
include examples/*.py
include test/*.py
include test/data/*.*
include test/data/matrices/json/*
exclude pyopa.c
