include setup.py cython_swps3.pxd cython_swps3.pyx
include c_source/Python_extension.c c_source/DynProgr_sse_short.c c_source/DynProgr_sse_byte.c c_source/DynProgr_scalar.c c_source/EstimatePam.c, c_source/Page_size.c
include c_source/Python_extension.h c_source/DynProgr_sse_short.h c_source/DynProgr_sse_byte.h c_source/DynProgr_scalar.h c_source/matrix.h c_source/debug.h c_source/swps3.h c_source/EstimatePam.h c_source/Page_size.h
include test/*.py
include test/data/*.*
include test/data/matrices/json/*
exclude cython_swps3.c
